version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: AuthService_postgres
    restart: always
    environment:
      POSTGRES_DB: kinalSportsIN6BV
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin   
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
